<h3>Add a new business to track</h3>
<hr>
<%= form_for @business do |f| %>
	<div class="form-horizontal">
		<div class="control-group">
			<%= f.label :name, :class => "control-label" %>
			<%= f.text_field :name %>
		</div>
		<div class="control-group">
			<%= f.label :fb_url, :class => "control-label" %>
			<%= f.text_field :fb_url %>
		</div>
		<div class="control-group">
			<%= f.label :description, :class => "control-label" %>
			<%= f.text_field :description %>
		</div>
		<div class="control-group">
			<%= f.label :submitter_name, :class => "control-label" %>
			<%= f.text_field :submitter_name %>
		</div>
		<div class="control-group">
			<%= f.label :submitter_email, :class => "control-label" %>
			<%= f.text_field :submitter_email %>
		</div>
	</div>
	<%= f.submit "Save" %>
<% end %>